{
  "root": true,
  
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],

  "plugins": ["prettier"],

  "parser": "@typescript-eslint/parser",

  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2020
  }
}