{
  "root": true,
  
  "extends": [
    "eslint:recommended"
  ],

  "plugins": ["prettier"],

  "parser": "@typescript-eslint/parser",

  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2020
  },

  "overrides": [
    {
      "files": ["tsup.config.js"],
      "extends": [
        "plugin:node/recommended",
        "plugin:prettier/recommended"
      ]
    },
    {
      "files": ["**/*.ts"],
      "extends": [
        "plugin:@typescript-eslint/recommended",
        "plugin:prettier/recommended"
      ]
    }
  ]
}